div {
  background-color: #d9f6ff;
  color: blue;
  min-height: 200px;
  padding: 20px;
}

button {
  margin: 0;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  background-color: violet;
  color: #111;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #ccc;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #111;
  color: violet;
}

p {
  font-size: 24px;
  font-weight: bold;
}
